
[Unit]
Description=minecraft listener for discordbot on screen session
After=multi-user.target

[Service]
WorkingDirectory=/home/root/discordbot/DiscordBot/Mainfiles/
ExecStart=/home/root/discordbot/DiscordBot/Mainfiles/minecrafthook.py
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target